<h1>DEMONSTRATING PIPES</h1>

<h2>Date Pipe</h2>
<div> 
  Today's Date : {{presentDate}} <br> <br>
</div>

<h2>Using Date Pipe with Date</h2>
<div> 
  Today's Date : {{presentDate | date}} <br> <br>
</div>

<h2>Using Date Pipe with Parameters</h2>
<div>
  Today's Date : {{presentDate | date:'fullDate'}} <br>
  Today's Date : {{presentDate | date:'shortDate'}} <br>
  Today's Date : {{presentDate | date:'mediumDate'}} <br>
  Today's Date : {{presentDate | date:'MM/dd/yyyy'}} <br>
  This indicates the hours and minutes of the day : {{presentDate | date:'HH:mm'}} <br>
  Marcel Angelo Navarro <br> <br>
</div>

<h2>Using Date Pipe with Chained Pipes</h2>
<div>
  Date with Uppercase: {{presentDate | date:'fullDate' | uppercase}} <br>
  Date with Lowercase: {{presentDate | date:'fullDate' | lowercase}} <br>
</div>

<h2>Using Async Pipe</h2>
<div> 
  Seconds changing in Time: {{ time$ | async | date:'mediumTime' }} 
</div>

<h2>Using Currency Pipe</h2>
<div>
  <p>{{price | currency:'':true}} </p>
  <p>{{price | currency:'INR'}} </p>
  <p>{{price | currency:'JPY'}} </p>
  <p>{{price | currency:'EUR'}} </p>  
</div>

<h2>Using SlicePipe</h2>
<div>
<p>Original Array: {{ fruits }} </p>
<p>First 3 Elements: {{ fruits | slice:0:3 }} </p>
<p>Elements from 2nd to 4th: {{ fruits | slice:1:4 }} </p>
<p>Last 2 Elements: {{ fruits | slice:-2 }} </p>
</div>

<h2>Using DecimalPipe</h2>
<div>
  <p>Apply Formatting: {{ decimalNum1 | number: '3.1' }}</p>
  <p>Apply Formatting: {{ decimalNum2 | number: '2.1-5' }}</p>
</div>

<h2>KeyValue Pipe</h2>
<div>
  <ul>
    <li *ngFor="let item of testObject | keyvalue">
      {{ item.key }}: {{ item.value }}
    </li>
  </ul>
</div>

<h2>Using JsonPipe</h2>
<div>
  <p>Object: {{testObject}}</p>
  <p>Object with JsonPipe: {{testObject | json}}</p>
  <p>Array: {{testArray}}</p>

<router-outlet />
